---
# common tasks env init

- name: change passwd
  command: echo 1q2w3e | passwd --stdin pirate

- name: apt-get install git -y
  apt: name=git update_cache=no

- name: 拉取git内容
  command: git clone https://github.com/wadee/rasp_env_init /tmp/rasp_env_init

- name: 替换国内apt源
  copy: src=/tmp/rasp_env_init/source.list dest=/etc/apt/source.list

- name: apt-get update && upgrade
  command: apt-get update && apt-get upgrade

#zsh start
- name: apt-get install zsh -y
  command: apt-get install zsh -y
- name: 安装oh-my-zsh
  command: curl -L https://raw.github.com/robbyrussell/oh-my-zsh/master/tools/install.sh | sh
- name: 修改zsh为系统默认shell
  command: chss -s /bin/zsh root && chsh -s /bin/zsh
- name: add .zshrc
  copy: src=/tmp/rasp_env_init/zshrc dest=/home/pirate/.zshrc
#zsh finish

#vim start
- name: apt-get install vim -y
  command: apt-get install vim -y
- name : vimrc
  copy: src=/tmp/rasp_env_init/vimrc dest=/home/pirate/.vimrc
- name : vimrc
  copy: src=/tmp/rasp_env_init/vimrc dest=/root/.vimrc
#vim finish

- name: apt-get install strace -y
  command: apt-get install strace -y

- name: install x11 and chrome
  command: curl -sSL https://github.com/hypriot/x11-on-HypriotOS/raw/master/install-x11-basics.sh | bash && curl -sSL https://github.com/hypriot/x11-on-HypriotOS/raw/master/install-chromium-browser.sh | bash

### k8s start
- name: install ebtables socat
  command: apt-get install ebtables socat -y
- name: dpkg安装k8s
  command: cd /tmp/rasp_env_init/k8s_deb && dpkg -i *
### k8s finish



